node_modules/
.env*
/TODO.md
errors.log
compleja.json
simple.json
testPerformance.json
testResult.html
config.yaml
kubeusers.yaml
Dockerfile
.dockerignore
test/mocha_test
test/chai_test
test/super_test
.vscode