<header>
  <nav class="nav">
    <h1 class="brand-title">
      E-Commerce
    </h1>
    <h2 class="page-title">
      Chat
    </h2>
    <ul class="pages-list">
      <li>Home</li>
      <li>Products</li>
      <li>Cart</li>
    </ul>
  </nav>
</header>

<main>
  <div class="chat">
    <div class="chat-area"></div>
    <div class="message-area">
      <textarea name="message" id="text" class="text"></textarea>
      <button
        class="btn btn-primary"
        type="button"
        id="send-bttn"
      >Enviar</button>
    </div>
  </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/{{script}}"></script>